name: Coleta Diaria BigQuery

on:
  schedule:
    - cron: '0 10 * * *' # Roda todo dia às 07
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Baixar seu código
      uses: actions/checkout@v3

    - name: Instalar Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Instalar bibliotecas
      run: |
        pip install -r requirements.txt

    - name: Criar arquivo de credenciais (Seguranca)
      
      run: |
        echo '${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}' > chave-google.json

    - name: Rodar o script de coleta
      env:
        
        GOOGLE_APPLICATION_CREDENTIALS: ./chave-google.json
      run: |
        python teste_inmet.py

    - name: Salvar logs (Opcional - CSV nao precisa mais)
      run: |
        echo "Dados enviados para o BigQuery com sucesso!"